{% extends 'log.html' %}
{% block content %}
<div class="content-container" style="padding-top: 20px; margin-left: 5px">
    <div class="container-fluid">
        <div class="jumbotron col-md-6 float-right" style="box-shadow:0px 1px 10px 2px #55adffbf; border: #69deff solid 1px;">
            <div style="position: relative; margin:30px 0px">
                <div style="display: flex; justify-content: center;">
                <img src = "/static/images/user_login2.png" class ="connexion_img" style="margin-bottom: 60px;"></div>
                  <div style="padding-left:75px;">  
                    <form method="POST" style = "display: flex; flex-direction: column; width: 350px;"
                    class="needs-validation" novalidate>
                        <div style="display: flex;">
                            <img src = "/static/images/person.svg" class = "img_login">
                            <input class="form-control login_input" placeholder = "Identifiant" type="text" id="Login" name="Login" 
                             required>
                        </div>
                            
                        <div style="display: flex;">
                            <img src = "/static/images/password.svg" class = "img_login">
                            <input class="form-control login_input" placeholder = "Mot de passe" type="password" id="Password" name="Password" 
                             required>
                        </div>

                        <div style="display: flex; justify-content: space-between;">
                        <button type="submit" class="btn btn-primary" value="submit" style="height:40px; width: 150px; margin-top:20px">
                            Connexion</button><a href="/password"><p style="color:#00a2ff; padding-top: 25px">Mot de Passe oublié ?</p></a>         
                    </form>
                  </div>
                  <div style="margin-top: 60px; display: flex; flex-direction: column; justify-content: center;" class="float-right">
                      <p style="color:#00a2ff; font-size: 0.9em; margin-left:8px">
                          Pas encore membre ?     
                      </p>
                      <a href="create_account" >
                          <button type="submit" class="btn btn-light" value="submit" style="height:40px; width: 150px;">
                              Créer un compte</button></a>    
                  </div>        
        </div>
    </div>    
</div>
<script>
  (function() {'use strict';
    window.addEventListener('load', function() {
      var forms = document.getElementsByClassName('needs-validation');
      var validation = Array.prototype.filter.call(forms, function(form) {
        form.addEventListener('submit', function(event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();
</script>
{% endblock %}
